.topbar-appBar .MuiToolbar-root {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topbar-right {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-left: auto;
  padding-right: 40px; /* ← Thêm dòng này */
}


.user-info {
  display: flex;
  align-items: center;
  gap: 15px;
}

.greeting {
  color: white;
  font-weight: bold;
  font-size: 16px;
}

.logout-button {
  padding: 8px 16px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.logout-button:hover {
  background-color: #c82333;
}

.login-prompt {
  color: white;
  font-weight: bold;
}

.upload-button {
  background-color: #1976d2;
  color: white;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.upload-button:hover {
  background-color: #115293;
}
